body {
  margin: 0px;
  font-family: Helvetica;
}

.section-1 {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 200px;
}

.section-2 {
  height: 500px;
  color: white;
  display: flex;
}

input[type='button'] {
  padding: 20px 30px;
  font-weight: bold;
  border: 0px;
  border-radius: 50px;
  background-image: linear-gradient(to right, rgb(202, 158, 76), rgb(255, 136, 0));
  color: white;
  font-size: 25px;
}

.headline-1 {
  font-size: 50px;
  margin: 135px 0px 10px 0px;
}

.headline-2 {
  font-size: 60px;
  font-weight: bold;
  margin: 10px 0px 25px 0px;
}

.headline-3 {
  font-size: 30px;
}

.headline-4 {
  font-size: 17px;
  margin-bottom: 5px;
}

input[type='button1'] {
  padding: 40px 0px;
  font-weight: bold;
  border: 0px;
  border-radius: 50px;
  background-image: linear-gradient(to right, rgb(202, 158, 76), rgb(255, 136, 0));
  color: white;
  font-size: 30px;
  margin-top: 70px;
  white-space: normal;
  width: 375px;
}

.section-3 {
  color: white;
}

.headline-5 {
  font-weight: bold;
  font-size: 24px;
  margin: 400px 0px 200px 825px;
}

.section-4 {
  margin-left: 80px;
  margin-right: 160px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1750px;
}

.headline-6 {
  font-weight: bold;
  font-size: 42px;
}

.headline-7 {
  font-size: 25px;
}

.headline-8 {
  font-size: 25px;
}

.headline-9 {
  font-weight: bold;
  font-size: 28px;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 4px;
}

.headline-10 {
  font-weight: bold;
  font-size: 38px;
  margin-top: 85px;
}

.headline-11 {
  font-size: 25px;
}

.headline-12 {
  font-size: 25px;
}

.headline-13 {
  font-size: 25px;
}
